# Dependências
node_modules/
package-lock.json

# Ambiente
.env
.env.local
.env.production

# Builds
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db